*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

nav{
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 40px 30px 20px 30px;  
    align-items: center; 
    background-color: #006DF7;
    position: sticky;
    top: 0;
    z-index: 100;
    position: relative;
}
.left{
    display: flex;
    gap: 40px;
    align-items: center;
}
.left h4{
    padding-left: 20px;
}
.right{
    display: flex;
    gap: 20px;
    align-items: center;
}
.product, .ng{
    display: flex;
    align-items: center;
    position: relative;
}
.ng span{
    font-size: 30px;
    font-weight: bolder;
}
/* .navv{
    position: relative;
} */
.hold:hover .info{
    display: block;
}
.info{
    position: absolute;
    border: 1px solid black;
    background-color: white;
    padding: 5px;
    font-size: 12px;
    color: black;
    margin-left: 30px;
    display: none;
}
.holder:hover .display{
    display: block;
}
.holder:hover .displayy{
    display: block;
}
 .ng-div{
    display: none;
 }
.holder:hover .ng-div{
    display: block;
}

.display{
    width: 400px;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: none;
    position: absolute;
}
.line{
    padding-top: 15px;
    padding-bottom: 15px;
}
.line:hover{
    background-color: aquamarine;
    border-radius: 5px;
}
.line p{
    padding-left: 18px;
}
.displayy{
    width: 300px;
    padding: 30px 15px 15px 15px;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: none;
}

.lines{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid rgba(0, 0, 255, 0.228);
    border-radius: 5px;
    margin: 5px;
}
.lines:hover{
    border: 1px solid blue;
}
.liness{
    display: flex;
    gap: 10px;
    align-items: center;
}
.circle{
    width: 35px;
    height: 35px;
    border-radius: 35px;
    background-color:aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.download{
    width: 200px;
    padding: 15px;
    border: transparent;
    border-radius: 20px;
    background-color: white;
}
.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    width: 50px;
    display: none;
}
.menu-list{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 25vh;
    left: 0px;
    gap: 25px;
    padding: 20px 30px;
    color: black;
    display: none;
    background-color: white;

}
.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.downloadd{
    width: 200px;
    padding: 15px;
    border: transparent;
    border-radius: 20px;
    background-color: blue;
    color: white;
    margin: 0 30%;
    z-index: 20;
}
.lang{
    display: flex;
    justify-content: space-between;
}

.hero{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 300px;
    background-color: #006df7;
    height: 100vh;
}
.hero_left{
   color: white;
   width: 50%;
}
.hero_left h1{
    font-size: 100px;
    padding-top: 50px;
}
.hero_left p{
    font-size: 20px;
    padding-top: 40px;
}
.hero_left h1{
    font-size: 60px;
    color: white;
}
.hero-right{
    display: flex;
    justify-content: center;
}
.image{
    position: relative;
    height: 500px;
    width: 300px;
}
.top{
    position: absolute;
    width: 350px;
    height: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: -40px;
    z-index: 20;
    display: flex;
    gap: 60px;
    align-items: center;
}
.top img{
    width: 50px;
}

.middle{
   position: absolute;
    width: 350px;
    height: 100px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-left: -200px;
    margin-top: 200px;
    z-index: 20;
    display: flex;
    align-items: center;
    gap: 80px;
}
.bottom{
    position: absolute;
    width: 400px;
    height: 80px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-left: 300px;
    margin-top: 350px;
    z-index: 20;
    display: flex;
    align-items: center;
    gap: 40px;
}
.container{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: center;
    gap: 25px;
    background-color: white;
    width: 700px;
    height: 100px;
    padding: 20px;
    border-radius: 10px;
    z-index: 20;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.288);
}
.customize{
    color: white;
    background-color: #9CA3A7 ;
    width: 160px;
    height: 50px;
    border: transparent;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}
.customize:hover{
    background-color:#bfc7d3;
}
.container .allow{
    color: white;
    background-color:#006df7;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 15px;
}
.card{
    display: flex;
    justify-content:center;
    gap: 100px;
    margin-top: 100px;
    margin-bottom:50px ;
}
.card-text,.card-image{
    width: 30%;

}
.card-text h1{
    font-size: 50px;
    padding-bottom: 20px;
}
.card-text p{
    font-size: 20px;
    line-height: 1.8;
    padding-bottom: 20px;
}
.card-image img{
    width: 400px;
}
.card button{
    width: 200px;
    background-color:#006df7 ;
    border-radius: 15px;
    border: none;
    padding: 10px;
    color: white;
    font-weight: bold;
}
.blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px);
    background-color: rgba(255, 255, 255, 0.228);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    width: 24%;
    height: 500px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
}
.boxes .box:first-child{
    background-color: #F6F0EF;
}
.boxes .box:nth-child(2){
    background-color: #F4F1F7;
}
.boxes .box:nth-child(3){
    background-color: #E8F4FF;
}
.boxes .box:last-child{
    background-color: #EBF1FF;
}
.boxes{
    display: flex;
    justify-content: space-between;
}
.boxes h3{
    font-size: 30px;
    width: 52%;
}
.boxp{
    font-size: 15px;
    line-height: 1.8;
}
.box button{
    border: none;
    font-weight: bold;
    background-color: none;
    border: none;
    margin-left: 0;
}
.box img{
    margin-top: 50px;
}

.bluebackground{
    margin: 10% 0;
    width: 100%;
    height: 400px;
    background-color: #006DF7;
    color: white;
    text-align: center;
    padding: 30px 0;
}
.bluebackground h3{
    font-size: 50px;
    padding: 20px;
}
.bluebackground p{
    font-size: 25px;
    padding-bottom: 60px;
}
.customers h1, .custo{
    text-align: center;
    padding: 20px;
    font-size: 50px;
}
.custo{
    font-size: 30px;
    padding-bottom: 100px;
}
.person{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    padding-bottom: 10px;
}
.customercard{
    width: 32%;
    height: 300px;
    border-radius: 5px;
    background-color: #F9FAFB; 
    padding: 30px; 
    padding-bottom: 50px; 
}
.customercard p{
    font-size: 18px;
    text-align: left;
    line-height: 2;
    padding-bottom: 20px;
}
.cardCus{
    display: flex;
    justify-content: space-between;
}
footer{
    padding: 0 0 20px 80px;
}
.hr{
    margin: 50px 80px 50px 80px;
}
.hrtext{
    font-size: 15px;
    text-align: left;
    padding: 20px 80px 20px 80px;
    line-height: 1.8;
}
.down{
    display: flex;
    gap: 20px;
    padding: 200px 80px 20px 80px;

}
.downcard{
    display: flex;
    flex-direction: column;
    width: 15%;
    /* justify-content: space-between; */
}
.two{
    width: 25%;
}
.downcard p{
    font-size: 15px;
    text-align: left;
    padding-left: 0;
    line-height: 2;
}
.downcard a{
    color: black;
    text-decoration: none;
    padding-top: 20px;
}









@media (max-width:768px) {
    .left span, .left .holder, .right{
        display: none;
    }
    .menu{
        display: block;
    }
    nav:hover .menu-list{
        display: flex;
    }
    nav:hover .menu{
        content: url(images/iconoir--cancel.svg);
    }
    .hero-right{
        display: none;
    }
    .hero{
        display: block;
        padding-right: 30px;
        height: 70vh;
        padding-top: 20px;
    }
    .hero_left{
        width: 100%;
    }
    .card{
        display: block;
    }
    .card-text{
        width: 100%;
        padding: 10px 30px 30px 30px;
    }
    .card-image{
        width: 100%;
    }
    .card-image img{
        width: 90%;
        margin: 5%;        
    }
   .boxes{
        display: block;
   }
   .box{
    width: 90%;
    margin-bottom: 20px;
    margin: 5%;
    height: 400px;
   }
   .bluebackground{
    height: 500px;
   }
   .bluebackground p{
    font-size: 20px;
    line-height: 1.8;
    padding: 20px;
    padding-bottom: 30px;
   }
   .bluebackground h3{
    text-align: center;
   }
   .cardCus{
    display: block;
   }
   .customercard{
    width: 100%;
    margin-bottom: 20px;
    }
    .down{
        display: block;
        padding: 150px 40px 20px 40px;
    }
    .downcard{
        width: 100%;
        margin-top: 10px;
    }
    .downcard img{
        width: 40%;
    }
    .container{
        bottom: 0;
        right: 0;
        display: block;
        width: 100%;
        padding: 30px;
        /* text-align: center; */
        height: 200px;
    }
    .container button{
        margin: 20px;
        margin-left: 2px;
    }
    .hrtext{
        padding: 20px 40px 20px 40px;
    }

}
@media (max-width:465) {
    .hero_left h1{
        font-size: 50px;
    }   
}